mixin NewsHeader()
	section.news-header-section
		.news-header-container
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12.col-md-6.news-header-content
								h1.h1 News
								p The latest coverage in the press
