include ../../molecules/news-media-item

mixin NewsContent()
	section.news-content-section.sm-toggle-position
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row
						.col-12.mb-md-10
							+NewsMediaItem({
								date: '3rd May 13, 2020',
								title: 'RenovAI helps retailers offer automated interior design advice to their customers',
								description: 'Alon Gilady, CEO of RenovAI, told me his startup is trying to solve the problem that many of us face when we’re moving into a new home — we aren’t interior designers, but we can’t afford to hire real designers...'
							})
						.col-12.col-lg-6.mb-md-10.pr-lg-6
							+NewsMediaItem({
								isVertical: true,
								date: 'October 29th, 2020',
								title: 'Made.com unveils first virtual showroom',
								description: 'European design brand Made.com has adapted to growing digital demand by introducing a number of initiatives to...'
							})
						.col-12.col-lg-6.mb-md-10.pl-lg-6
							+NewsMediaItem({
								isVertical: true,
								title: 'These are the Top Interior Design Companies in California (2021)',
								description: 'This article showcases our top picks for the best California based Interior Design companies. These startups and companies...'
							})
						.col-12.col-lg-6.mb-md-10.pr-lg-6
							+NewsMediaItem({
								isVertical: true,
								date: 'May 14th, 2020',
								title: 'RenovAI helps retailers offer automated interior design advice to their customers',
								description: 'Alon Gilady, CEO of RenovAI, told that his...'
							})
						.col-12.col-lg-6.mb-md-10.pl-lg-6
							+NewsMediaItem({
								isVertical: true,
								date: 'May 12th, 2020',
								title: 'RenovAI helps retailers offer automated interior design advice to their customers',
								description: 'Alon Gilady, CEO of RenovAI, told that his...'
							})
					.row
						.col-12.text-center.py-8
							a.btn.btn-secondary.btn-lg.d-none.d-md-inline-block.shadow(href="#") Load more
							a.btn.btn-secondary.d-md-none.shadow(href="#") Load more
