mixin CaseStudiesItemHeader()
	section.case-studies-item-header-section
		.container
			.row
				.col-12.col-lg-6
					h1.h1 boosted engagement and increased revenue with renovai's “Shop the Room"
					p Made.com managed to improve their revenue increase by a whopping 13%, Average order value by 12.4% and double average time on site.
				.col-5.offset-1.d-none.d-lg-block
					.h3.mb-3.ml-3 Get your case study here:
					form(action="case-studies-got-it.html")
						.form-group.row
							.col-12
								input.form-control(type="text" placeholder="Full Name")
						.form-group.row
							.col-12
								input.form-control(type="text" placeholder="Job Title")
						.form-group.row
							.col-12
								input.form-control(type="text" placeholder="Company Name")
						.form-group.row
							.col-12
								input.form-control(type="text" placeholder="Work Email")
						.form-group.row
							.col-4
								input.form-control(type="text" placeholder="Country")
							.col-8
								input.form-control(type="text" placeholder="+000")
						p.small.mb-5 We collect the information you provide here in order to send you your copy of the case study, don’t worry, we are not into spamming! You may unsubscribe from these communications at any time.
						.form-group.row
							.col-12
								button.btn.btn-pink.btn-lg.w-100 Send to mail
