mixin CaseStudiesHeader()
	section.case-studies-header-section.text-white.position-relative
		.case-studies-header-container
			.container.h-100
				.row.h-100
					.col-12.col-xxl-8.offset-xxl-2.h-100
						.row.h-100.align-items-center
							.col-12.col-lg-8.col-xl-6.mb-md-10
								h1.h1 Case Studies
								p See how top retailers fuel their growth with renovai by creating online shopping experiences that drive greater hyper- personalized experiences and enhanced engagement.
		img.case-studies-header-img(src="images/case-studies-header-img.png" alt="" title="")
