mixin CaseStudiesGotItHeader()
	section.case-studies-got-it-header-section
		.container
			.row
				.col-12.col-lg-10.offset-lg-1
					.case-studies-got-it-container.text-center.d-flex.flex-column.justify-content-center
						h1.h1 Got it!
						p Your copy will be sent to your email shortly, we hope you will find it insightful.
							br
							| Thank you for your interest in renovai!
