include ../../molecules/case-studies-media

mixin CaseStudiesContent()
	section.case-studies-content-section.sm-toggle-position
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row
						+CaseStudiesMedia()
						+CaseStudiesMedia()
						+CaseStudiesMedia()
