*:active,
*:active:focus,
*:focus,
*:focus-visible {outline: 0 none !important;}
.js_data_loader {background: transparent url(../images/ajax-loader.gif) center center no-repeat; position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%;}
.js_data_loader:not(.show) {display: none;}
.half-trans {opacity: 0.5;}
.wpcf7-not-valid-tip {width: 100%; margin-top: 0.25rem; font-size: 13px; color: #0D0D30; line-height: 1; padding: 0 25px;}
.light-errors .wpcf7-not-valid-tip {color: #ffa3a0;}
.error.red {color: #ff7882;}
.case-studies-modal-title-logo {height: 80px;}
@media all and (max-width: 767px){
	.case-studies-modal-title-logo {height: 20px;}
}
/*.product-header .tablet-container {background-color: transparent;}*/
.a-img {border-radius: 100px; box-shadow: 0 130px 105px rgba(0, 0, 0, 0.07), 0 55px 44px rgba(0, 0, 0, 0.05), 0 30px 24px rgba(0, 0, 0, 0.04), 0 16px 13px rgba(0, 0, 0, 0.035), 0 9px 7px rgba(0, 0, 0, 0.03), 0 4px 3px rgba(0, 0, 0, 0.02);}
.btn-icon .i {vertical-align: middle;}
.blog-content-section img {width: 100%; height: auto;}
.aligncenter {text-align: center;}
@media all and (min-width: 768px){
	.blog-content-section h3 {margin-top: 40px; margin-bottom: 30px;}
	body .mob-overlay {display: none;}
}
.video-loader {background: #fff url(../images/ajax-loader.gif) center center no-repeat; border-radius: 30px;}
.ren-carousel-item img,
.ren-carousel-item video {border-radius: 30px;}
.file-placeholder {font-size: 14px; display: block; position: absolute; top: 28px;}


.dropdown-item {
	position: relative !important;
}
.dropdown-submenu {
	overflow: hidden;
	display: block;
	z-index: 1101;
	font-size: 1rem;
	color: #0D0D30;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 0;
	box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41px 33px rgba(0, 0, 0, 0.0503198), 0 22px 17px rgba(0, 0, 0, 0.0417275), 0 12px 10px rgba(0, 0, 0, 0.035), 0 6px 5px rgba(0, 0, 0, 0.0282725), 0 2px 2px rgba(0, 0, 0, 0.0196802);
	border-radius: 20px;
}
.dropdown-item:hover>.dropdown-wrap {
	opacity: 1;
	visibility: visible;
}
.header-nav .dropdown .dropdown-item:hover a.submenu-label {text-decoration: none;}
/*.header-nav .dropdown-menu .nav-item {padding: 0;}*/
/*.header-nav .dropdown-menu .nav-link {display: block; text-align: left;	font-size: 15px; line-height: 18px; font-family: 'moderat-medium'; padding: 12px 16px !important; margin-bottom: 0; color: #0d0d30 !important; transition: color linear .5s,background-color linear .5s;}*/
@media all and (min-width: 768px){
	/*.header-nav .dropdown-menu .nav-link:hover,*/
	/*.sm-toggle-menu.position-fixed .header-nav .dropdown-menu .nav-link:hover {background-color: #61C0FA; color: #fff !important;}*/
	.header-nav .caret {display: none;}
	/*.header-nav .dropdown-menu .nav-item:first-child > .nav-link {border-radius: 18px 18px 0 0;}*/
	/*.header-nav .dropdown-menu .nav-item:last-child .nav-link {border-radius: 0 0 18px 18px;}*/
	/*.header-nav .dropdown-menu .dropdown-menu {position: absolute; left: 100%; top: auto !important; z-index: 1001; transform: translate(10px, -46px);}*/

	.dropdown-wrap {
		position: absolute;
		left: 100%;
		top: 0;
		z-index: 1001;
		opacity: 0;
		visibility: hidden;
		padding: 0 10px;
	}
	.header-nav .dropdown .dropdown-item a.submenu-label {
		text-align: left;
		font-size: 15px;
		line-height: 18px;
		font-family: 'moderat-medium';
		margin-bottom: 0;
		color: #0D0D30 !important;
		transition: color linear 500ms, background-color linear 500ms;
	}
	.header-nav .dropdown .dropdown-item:hover a.submenu-label {color: #fff !important;}
}

@media all and (max-width: 767px){
	body.nav-mob-opened {overflow: hidden;}
	body .mob-overlay {background-color: rgba(13, 13, 48, 0.7); position: fixed; height: 100vh; top: 0; right: 0; width: 0; z-index: 10; transition: all .2s ease;}
	body.nav-mob-opened .mob-overlay {width: 100%;}

	.collapse:not(.show) {display: block; left: -100%; /*transform: translateX(-100vw);*/}
	.navbar-collapse {transition: all 0.2s; position: fixed; height: calc(100vh - 47px); top: 47px; left: 15px; width: 80%; box-shadow: 10px 40px 30px rgba(0,0,0,0.5);}
	.header-nav {/*margin-left: -15px; margin-right: -15px;*/}
	.header-nav {align-items: flex-start; margin: 0 -15px; height: 100%; min-height: auto; overflow-y: auto; padding: 15px 0;}
	.header-nav .nav-link {display: inline-block; padding: 20px 16px; margin-bottom: 0; border-bottom: 0; position: relative;}
	.header-nav .dropdown > .nav-link:after {content: ""; display: block; border: 1px solid transparent; position: absolute; left: 16px; margin: 5px 0 0; right: 16px;}
	.header-nav .dropdown.show > .nav-link:after {border-color: #61C0FA;}
	#site_header {transition: .1s ease;}
	#site_header:not(.nav-show) {overflow: hidden;}
	#site_header.nav-show {background-color: #fff;}
	.file-placeholder {top: 38px;}
	.header-nav .nav-item {box-sizing: border-box; width: 100%;}
	.header-nav .caret {
		display: block;
		position: absolute;
		z-index: 99;
		right: 15px;
		top: 22px;
		cursor: pointer;
		width: 22px;
		height: 22px;
		text-align: center;
		line-height: 1;
		transition: .5s ease-in-out;
	}
	.header-nav .show > .caret {transform: rotate(180deg);}
	.header-nav .submenu-label + .caret {top: 18px;}
	.header-nav .submenu-label + .caret svg path {fill: #61C0FA;}
	.header-nav .dropdown-menu {border: 0; margin: 0;}
	.header-nav .dropdown-item,
	.header-nav .dropdown a.dropdown-item {text-align: left; margin: 0;}
	.header-nav .dropdown a.dropdown-item,
	.header-nav .dropdown .dropdown-item a {padding: 16px;}
	.header-nav div.dropdown-item:hover {background-color: transparent; color: inherit;}
	.header-nav .dropdown.show .dropdown-menu,
	.header-nav .dropdown-item.show .dropdown-wrap {display: block;}

	.header-nav .dropdown .dropdown-item a.submenu-label,
	.header-nav a.blue-item {color: #61C0FA !important; display: block; font-size: inherit;}
	.header-nav a.blue-item {font-family: 'moderat-bold' !important;}
	.header-nav a.blue-item:hover {color: #fff !important;}
	.header-nav .nav-item .btn-full-width {display: block; margin: 0 16px;}

	.dropdown-wrap {display: none;}
	.dropdown-submenu {box-shadow: none; border-radius: 0;}
	.header-nav .dropdown-submenu a.dropdown-item {border-radius: 0; padding: 8px 16px;}

	.p-mobile.header-logo {margin-left: 0;}
	.p-mobile.navbar-toggler {vertical-align: middle; z-index: 999; width: 20px; height: 16px; margin: 14px 0 14px 6px; transform: rotate(0deg); transition: .5s ease-in-out; cursor: pointer;}
	.p-mobile.navbar-toggler span {display: block; position: absolute; height: 2px; width: 100%; background: #fff; border-radius: 9px; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out;}
	.black-header-menu .p-mobile.navbar-toggler span {background: #0D0D30;}
	.p-mobile.navbar-toggler span:nth-child(1) {top: 0;}
	.p-mobile.navbar-toggler span:nth-child(2) {top: 6px;}
	.p-mobile.navbar-toggler span:nth-child(3) {top: 12px;}
	.p-mobile.navbar-toggler:not(.collapsed) span:nth-child(1) {top: 6px; background: #61C0FA; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg);}
	.p-mobile.navbar-toggler:not(.collapsed) span:nth-child(2) {opacity: 0; left: -30px;}
	.p-mobile.navbar-toggler:not(.collapsed) span:nth-child(3) {top: 6px; background: #61C0FA; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg);}
	#site_header.position-fixed .p-mobile.navbar-toggler span {background-color: #61C0FA;}
}



.case-studies-content-section .media > .case-studies-img img {position: inherit; height: auto; width: auto;}
.experience-renovai .h1 {line-height: normal;}

.jobs .tab-pane > .row:not(:last-child) {margin-bottom: 64px;}
@media all and (max-width: 991px){
	.jobs .tab-pane > .row:not(:last-child) {margin-bottom: 32px;}
}

@media all and (min-width: 768px){
	.lp-col-content {/*height: 100%;*/}
}

.tbcfyw-item-circle.solid.blue {background-image: url(../images/circle2.svg);}
/*.experience-renovai .title {line-height: 60px;}*/
.without-bg.product-header:after {content: none;}
/*.modal-content {background-image: url(../images/modal-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover;}*/

.lp-col-content p {height: 100%;}
.lp-col-content img {min-height: 75px;}
.lp-col-content h3 {min-height: 80px;}

@media all and (min-width: 992px){
	body.case-studies #caseStudiesGotItModal .modal-content {padding: 20px;}
	body.case-studies #caseStudiesGotItModal .modal-header {padding-top: 0;}
}

.siriyp-section .display-h2 {font-size: 20px; line-height: 30px; font-family: 'moderat-bold';}
@media (min-width: 768px) {
	.siriyp-section .display-h2 {font-size: 64px; line-height: 80px; }
}
.bg-pink5 {background-color: #fff2ff !important; }


/* submenu  */

/* submenu for mobile */
@media all and (min-width: 768px){
}
@media all and (max-width: 767px){
/*
	.dropdown-menu > .dropdown-item {
		background-color: #ffffff !important;
		color: #61C0FA !important;
		cursor: pointer;
	}
	.header-nav .dropdown .dropdown-item a.submenu-label {color: #61C0FA !important;}
	.dropdown-menu > .dropdown-item:hover a.submenu-label {color: #61C0FA !important;}
	.dropdown-submenu > .dropdown-item {
		display: none;
		transition: none !important;
	}
	.dropdown-wrap {
		left: 0;
		bottom: 0;
		position: relative;
		height: 0 !important;
		transition: all .2s ease-in;
	}
	.dropdown-submenu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.dropdown-item:hover {
		margin-bottom: 0;
	}
	.dropdown-item:hover > .submenu-label {
		position: relative;
	}
	.dropdown-item:hover > .submenu-label:after {
		content: "";
		width: 100%;
		height: 2px;
		display: block;
		background-color: #61C0FA;
		position: absolute;
		bottom: -4px;
		left: 0;
	}
	.dropdown-item:hover>.dropdown-wrap {
		height: 100% !important;
		padding: 15px 0 0 0;
		transition: all .2s ease-in;
	}
	.dropdown-wrap>.dropdown-submenu {
		font-size: 16px;
		box-shadow: none;
		border-radius: 0 !important;
		border: none;
	}
	.dropdown-submenu>a.dropdown-item:nth-child(2) {
		border-radius: 0;
	}
	.dropdown-submenu>.dropdown-item:last-child {
		margin-bottom: -20px;
	}
	.dropdown-wrap>.dropdown-submenu>.dropdown-item-mobile {
		display: block;
		font-family: Moderat;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #0D0D30;
		margin-bottom: 10px !important;
		text-align: center;
		text-decoration-color: #ffffff !important;
	}
	.dropdown-wrap>.dropdown-submenu>.dropdown-item-mobile:hover {
		background-color: #61C0FA;
		color: #FFFFFF;
		text-decoration-color: #61C0FA !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		transform: none !important;
	}
*/
}

