.page-template-talk main {background-image: url(../images/main-bg.svg); background-repeat: no-repeat; background-position: center top 12%;}
.blog-header-section:after { background: url(../images/main-bg.svg) no-repeat bottom 100% center;}
.talks-list {}
.talk-item {font-family: 'moderat-light'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 19px;}
.talk-item-col-1 {background: #0D0D30; border-radius: 10px; padding: 40px 52px 0 77px; color: #FFFFFF; overflow: hidden;}
.talk-item-col-2 {color: #0D0D30;}
.talk-item-subtitle {font-size: 24px; line-height: 32px; letter-spacing: -0.02em;}
.talk-item-subtitle-bold {font-family: 'moderat-bold';}
/*.talk-item-subtitle-icon {transform: translateY(-7px); margin-left: 4px; width: 13px; height: 23px;}*/
.talk-item-episode {font-size: 16px; line-height: 50px;}
.talk-item-col-1-title {font-family: 'moderat-bold'; font-style: normal; font-weight: 700; font-size: 48px; line-height: 48px; letter-spacing: -0.02em; color: #FF86DD;}
.talk-item-col-1-hr {width: 75px; height: 2px; background-color: #ffffff; margin-right: auto; border-radius: 5px;}
.talk-item-feature-medium {font-family: 'moderat-medium'; line-height: 34px; font-size: 16px;}
.talk-item-feature-light {font-family: 'moderat-light'; line-height: 19px; font-size: 16px;}
.talk-item-col-2 {padding-left: 140px;}
.talk-item-col-2-title {font-family: 'moderat-bold'; font-size: 40px; line-height: 50px; letter-spacing: -0.02em; color: #0D0D30; margin: 0;}
.talk-item-col-2-title-box {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #C5C7D0;}
.talk-item-date {font-family: 'moderat-medium'; font-size: 20px; line-height: 32px; color: #676879; white-space: nowrap;}
.talk-item-description {font-size: 20px; line-height: 32px; color: #0D0D30; margin-bottom: 16px;}
.talk-item-view-btn {padding: 12px 16px; background-color: #0D0D30; border-radius: 300px; font-family: 'moderat-light'; font-size: 20px; line-height: 24px; color: #FFFFFF;}
.talk-item-view-btn:hover {color: #FFFFFF; text-decoration: none;}
/*.talk-item-view-btn-icon {transform: translateY(2px); width: 24px; height: 24px;}*/
.talk-item-minutes {font-family: 'moderat-light'; font-size: 16px; line-height: 15px; color: #828282;}
/*.talk-item-minutes-icon {transform: translateY(2px); width: 14px; height: 14px;}*/
.talk-item-spotify-link {font-family: 'moderat-medium'; font-size: 20px; line-height: 24px; text-decoration-line: underline; color: #0D0D30;}
/*.talk-item-spotify-icon {transform: translateY(2px); width: 25px; height: 25px;}*/
.talk-item-subtitle-dark-text {color: #0D0D30;}
.talk-item-subtitle-dark-text-icon {transform: translateY(-5px); margin-left: 4px;}
.renotalk-header-img {z-index: 2; width: 432px; height: 495px; right: 135px;}
.talk-item-img-wrapper {border-radius: 172px 172px 0 0; border: 3px solid #00B9EB; border-bottom: none; padding: 12px 9px 0 9px;}
.talk-item-img {width: 100%; border-radius: 50%;}
.talk-item-content {padding-bottom: 40px;}
.dark-micro-icon {background: transparent url(../images/dark-micro-icon.svg) no-repeat center right; padding-right: 20px;}
.light-micro-icon {background: transparent url(../images/light-micro-icon.svg) no-repeat center right; padding-right: 20px;}
.spotify-icon {background: transparent url(../images/spotify-icon.svg) no-repeat center left; padding-left: 30px;}
.light-youtube-icon {background-image: url(../images/light-youtube-icon.svg); background-repeat: no-repeat; background-position: center left 16px; padding-left: 52px;}
.oclock-icon {background: transparent url(../images/oclock-icon.svg) no-repeat top 2px left; padding-left: 20px;}

.talks {margin-top: 53px; margin-bottom: 53px;}
.talks .tags-wrap {margin: 0 0 32px;}
.talks .tags-wrap .tag-cloud {margin-top: 0; margin-bottom: 0;}

@media all and (min-width: 768px){
    .page-template-talk main {background-position: center top 0%; background-size: auto 26%;}
    .talk-header-content {max-width: 526px;}
}
@media all and (min-width: 1366px){
    .page-template-talk main {background-position: center top 0%; background-size: auto 29%;}
    .talk-item-description {margin-bottom: 27px;}
    .talks {margin-top: 87px; margin-bottom: 87px;}
}
@media all and (min-width: 1920px){
    .talk-item-description {margin-bottom: 60px;}
    .talks {margin-top: 150px; margin-bottom: 150px;}
}

@media all and (max-width: 1599px) {
    .talk-item-subtitle {font-size: 15px; line-height: 21px;}
    .talk-item-episode {font-size: 12px;}
    .talk-item-col-1-title {font-size: 32px; line-height: 32px;}
    .talk-item-feature-medium {font-size: 14px; line-height: 16px;}
    .talk-item-feature-light {font-size: 12px; line-height: 16px;}
    .talk-item-col-2-title {font-size: 24px; line-height: 32px;}
    .talk-item-date {font-size: 16px;}
    .talk-item-description {font-size: 16px; line-height: 20px;}
    .talk-item-view-btn {font-size: 16px; padding-top: 8px; padding-bottom: 8px;}
    .talk-item-spotify-link {font-size: 16px; line-height: 19px;}
    .talk-item-col-1 {padding: 27px 33px 0 48px;}
    .talk-item-col-2 {padding-left: 30px;}
    /*.talk-item-subtitle-icon {width: 8px; height: 15px; transform: translateY(-4px); margin-left: 0;}*/
    .blog-header-img {width: 303px; height: 348px;}
    .talk-item-content {padding-bottom: 25px; padding-right: 20px;}
    .talk-item-img-wrapper {border: 2px solid #00B9EB; padding: 7px 5px 0 5px;}
}
@media all and (max-width: 1035px) {
    .renotalk-header-img {width: 240px; bottom: -55px;}
}
@media all and (max-width: 991px) {
    .talk-item-col-1-title {font-size: 26px; line-height: 26px;}
}
@media all and (max-width: 991px) {
    .talk-item-col-1 {padding: 25px 30px 0 30px;}
}
@media all and (max-width: 767px) {
    .page-template-talk main {background-image: none;}
    .page-template-talk main:before {
        content: "";
        position: absolute;
        background-image: url(../images/main-bg-m.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 368px;
        width: 100%;
        z-index: 1;
        top: 90px;
    }
    .blog-header-section:after {display: none;}
    .talk-item-subtitle {font-size: 8px; line-height: 11px;}
    .talk-item-col-1-title {font-size: 16px; line-height: 17px;}
    .talk-item-col-1-hr {width: 25px;}
    .talk-item-feature-medium {font-size: 12px;}
    .talk-item-feature-light {line-height: 14px;}
    .talk-item-col-1 {padding: 10px 18px 0 27px;}
    .talk-item-col-2 {padding-left: 0;}
    .talk-item-subtitle-medium {font-size: 19px; line-height: 26px;}
    /*.talk-item-subtitle-icon {width: 5px; height: 8px; transform: translateY(0);}*/
    /*.talk-item-subtitle-icon-medium {width: 11px; height: 20px; transform: translateY(-4px);}*/
    .talk-item-col-2-title {font-size: 20px; line-height: 30px;}
    .talk-item-date {line-height: 30px;}
    .renotalk-header-img {
        width: 83px;
        height: 102px;
        right: auto;
        bottom: 0;
        position: relative;
        left: auto;
        margin: auto auto auto auto;
        transform: translateX(100px);
    }
    .blog-header-container {padding-top: 75px;}
    .blog-header-section:after {height: 165px;}
    .talk-item-content {padding-bottom: 10px;}
    .talk-item-img-wrapper {border: 1px solid #00B9EB;}
    .tags-wrap,
    .breadcrumbs-wrap {
        z-index: 1;
        position: relative;
    }
    .tags-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .tags-title {margin-right: 24px;}
}
@media all and (max-width: 550px) {
    /*.renotalk-header-img {right: 15px;}*/
}
