.integration__first-screen {
    position: relative;
}

.integration-first-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 615px;
    text-align: center;
    background-color: #0D0D30;
}

.integration-first-screen__title {
    font-family: 'comfortaa';
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;
}

.integration-first-screen__subtitle {
    font-family: 'moderat-medium';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.integration__steps {
    background: linear-gradient(96.7deg, #E6F0FF 6.22%, #FFFFFF 96.06%);
}

.integration-steps {
    padding: 100px 0 200px 0;
}

.integration-steps__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 864px;
    margin: 0 auto 250px auto;
}

.integration-steps__row:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -250px;
    display: block;
    height: 240px;
    width: 2px;
    background-color: #E0E0E0;
}

.integration-steps__row:last-child {
    margin: 0 auto 0 auto;
}

.integration-steps__row:last-child:after {
    content: none;
}

.integration-steps__row--reverse {
    flex-direction: row-reverse;
}

.integration-steps__col {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.integration-steps__col:nth-child(2) {
    position: relative;
    height: 200px;
    max-width: 200px;
    background: url("../images/integration/step-bg-icon.png");
    background-position-x: -30px;
    background-position-y: -2px;
    background-repeat: no-repeat;
    border-radius: 50%;
    /* margin-left: 125px;
    margin-right: 85px; */
    margin-left: auto;
    margin-right: auto;
}

.integration-steps__step-num {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-family: 'moderat-bold';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #0D0D30;
}

.integration-steps__title {
    width: 100%;
    max-width: 232px;
}

.integration-steps__subtitle {
    width: 100%;
    max-width: 232px;
}

.integration-first-screen__bg {
    position: absolute;
    left: -3%;
    width: 120%;
    top: 11%;
}

@media screen and (max-width: 1350px) {
    .integration-first-screen__bg {
        top: 26%;
    }
}

@media screen and (max-width: 1015px) {
    .integration-first-screen__bg {
        top: 37%;
    }
}

@media screen and (max-width: 605px) {
    .integration-first-screen__bg {
        top: 55%;
    }
}

@media screen and (max-width: 385px) {
    .integration-first-screen__bg {
        top: 55%;
    }
}

@media screen and (max-width: 355px) {
    .integration-first-screen__bg {
        top: 65%;
    }
}

@media screen and (max-width: 768px) {
    .integration-steps {
        padding: 20px 0 110px 0;
    }
    .integration-steps__row:after {
        height: 66px;
        bottom: -85px;
    }
    .integration-steps__row {
        flex-direction: column;
        margin-bottom: 85px;
    }
    .integration-steps__col {
        width: 100%;
        text-align: center;
    }
    .integration-steps__col:first-child {
        order: 3;
    }
    .integration-steps__col:nth-child(2) {
        margin-bottom: 10px;
    }
    .integration-steps__col:last-child {
        margin-bottom: 15px;
    }
    .integration-steps__row>.integration-steps__col:first-child>img {
        max-width: 52px;
        height: auto;
    }
    .integration-steps__row--reverse>.integration-steps__col:first-child>img {
        max-width: 65px;
    }
    .integration-steps__title {
        font-size: 20px;
        line-height: 30px;
    }
    .integration-steps__subtitle {
        font-size: 18px;
        line-height: 28px;
    }
    .integration-steps__step-num {
        font-size: 18px;
        line-height: 28px;
    }
    .integration-steps__col:nth-child(2) {
        width: 110px;
        height: 110px;
        background-size: 120px 130px;
        background-position-x: -6px;
        background-position-y: 9px;
    }
    .integration-first-screen {
        display: block;
        padding-top: 105px;
        height: 400px;
    }
    .integration-first-screen__title {
        font-size: 32px;
        line-height: 42px;
    }
    .integration-first-screen__subtitle {
        font-size: 16px;
        line-height: 25px;
    }
    .integration-steps__step-1-icon {
        margin-right: -15px;
    }
}

@media screen and (max-width: 425px) {
    .integration-first-screen {
        height: 300px;
    }
}