/* RANGE SLIDER */

.irs--round .irs-handle {
    width: 50px !important;
    height: 50px !important;
    top: 19px !important;
    cursor: pointer;
    background-color: #0D0D30 !important;
    border: none !important;
}

.irs--round .irs-bar {
    height: 15px !important;
    background-color: #0D0D30 !important;
}

.irs-single {
    display: none !important;
}

.irs--round .irs-line {
    height: 15px !important;
    background-color: rgba(97, 192, 250, 0.3) !important;
}

.irs--round .irs-min,
.irs--round .irs-max {
    bottom: -60px;
    top: inherit !important;
    background-color: transparent !important;
    font-size: 16px;
    line-height: 28px;
    color: #0D0D30;
    font-family: 'moderat-medium';
}

