.experience-renovai .title {
    line-height: 60px;
}

.without-bg.product-header:after {
    content: none;
}

.lp-col-content p {
    height: 100%;
}

.lp-col-content img {
    min-height: 75px;
}

.lp-col-content h3 {
    min-height: 80px;
}


/* submenu  */

.dropdown-item {
    position: relative !important;
}

.dropdown-submenu {
    overflow: hidden;
    display: block;
    z-index: 1101;
    font-size: 1rem;
    color: #0D0D30;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 20px;
}

.dropdown-item:hover>.dropdown-wrap {
    opacity: 1;
    visibility: visible;
}

.dropdown-wrap {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    padding: 0 10px;
}


/* submenu for mobile */

@media screen and (max-width: 768px) {
    .dropdown-menu>.dropdown-item {
        background-color: #ffffff !important;
        color: #61C0FA !important;
        cursor: pointer;
    }
    .dropdown-submenu>.dropdown-item {
        display: none;
        transition: none !important;
    }
    .dropdown-wrap {
        left: 0;
        bottom: 0;
        position: relative;
        height: 0px !important;
        transition: all .2s ease-in;
    }
    .dropdown-submenu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dropdown-item:hover {
        margin-bottom: 0;
    }
    .dropdown-item:hover>.submenu-label {
        position: relative;
    }
    .dropdown-item:hover>.submenu-label:after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #61C0FA;
        position: absolute;
        bottom: -4px;
        left: 0;
    }
    .dropdown-item:hover>.dropdown-wrap {
        height: 100% !important;
        padding: 15px 0 0 0;
        transition: all .2s ease-in;
    }
    .dropdown-wrap>.dropdown-submenu {
        font-size: 16px;
        box-shadow: none;
        border-radius: 0px !important;
        border: none;
    }
    .dropdown-submenu>a.dropdown-item:nth-child(2) {
        border-radius: 0px;
    }
    .dropdown-submenu>.dropdown-item:last-child {
        margin-bottom: -20px;
    }
    .dropdown-wrap>.dropdown-submenu>.dropdown-item-mobile {
        display: block;
        font-family: Moderat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D30;
        margin-bottom: 10px !important;
        text-align: center;
        text-decoration-color: #ffffff !important;
    }
    .dropdown-wrap>.dropdown-submenu>.dropdown-item-mobile:hover {
        background-color: #61C0FA;
        color: #FFFFFF;
        text-decoration-color: #61C0FA !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        transform: none !important;
    }
}


/* ROI CALC PAGE */

.navbar-nav.header-nav>.nav-item>.nav-link {
    color: #0D0D30 !important;
}

.header-logo {
    background-image: url(../images/logo-black.svg);
}

.bg-experience-renovai__label {
    line-height: 60px;
}

.roi-calc__first-screen {}

.first-screen {
    position: relative;
    height: 100vh;
    max-height: 900px;
    padding-top: 175px;
    background: linear-gradient(96.7deg, #E6F0FF 6.22%, #FFFFFF 96.06%);
}

.first-screen__info {
    width: 100%;
    max-width: 540px;
}

.first-screen__title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;
    color: #0D0D30;
    margin-bottom: 8px;
}

.first-screen__subtitle {
    font-family: Moderat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #0D0D30;
}

.first-screen__backgound {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 626px;
    width: 940px;
}

.first-screen-bg {}

.first-screen-bg__vector {
    position: absolute;
    bottom: -100px;
}

.first-screen-bg__wooman {
    position: absolute;
    bottom: -100px;
}

.first-screen-bg__card {
    position: absolute;
    right: 35px;
    top: 40px;
    width: 100%;
    max-width: 235px;
    min-height: 305px;
    background: #FFFFFF;
    box-shadow: 2.82665px 2.82665px 7.06662px 1.41332px rgba(0, 185, 235, 0.1);
    border-radius: 14px;
}

.first-screen-bg__range-decor {
    position: absolute;
    top: 200px;
    left: 220px;
}

.first-screen-bg__add-all-items-wrapp {
    position: absolute;
    bottom: 90px;
    right: 55px;
    width: 100%;
    max-width: 320px;
    min-height: 85px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 9px;
    padding: 8px 15px;
}

.first-screen-bg__add-all-items-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 9px;
}