.experience-renovai .title {
    line-height: 60px;
}

.without-bg.product-header:after {
    content: none;
}

.lp-col-content p {
    height: 100%;
}

.lp-col-content img {
    min-height: 75px;
}

.lp-col-content h3 {
    min-height: 80px;
}


/* submenu  */

.dropdown-item {
    position: relative !important;
}

.dropdown-submenu {
    overflow: hidden;
    display: block;
    z-index: 1101;
    min-width: 10rem;
    /* padding: 0; */
    font-size: 1rem;
    color: #0D0D30;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0px 100px 80px rgb(0 0 0 / 7%), 0px 41.7776px 33.4221px rgb(0 0 0 / 5%), 0px 22.3363px 17.869px rgb(0 0 0 / 4%), 0px 12.5216px 10.0172px rgb(0 0 0 / 4%), 0px 6.6501px 5.32008px rgb(0 0 0 / 3%), 0px 2.76726px 2.21381px rgb(0 0 0 / 2%);
    border-radius: 20px;
}

.dropdown-submenu>.dropdown-item:first-child {
    display: none;
}

.dropdown-submenu>a.dropdown-item:nth-child(2) {
    border-radius: 18px 18px 0 0;
}

.dropdown-item:hover>.dropdown-wrap {
    opacity: 1;
    visibility: visible;
}

.dropdown-wrap {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    padding: 0 10px;
}