$pinkAnimation: #FF86DD
$purpleAnimation: #9827E8

.animation
	&-header
		&-section
			height: 100vh
			min-height: 539px
		&-slide
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
		&-text
			color: $white
			font-family: 'Comfortaa'
			font-size: 24px
			line-height: 32px
			position: absolute
			top: 61px
			left: 15px
			width: calc(100% - 80px)
			z-index: 10

.properties-container
	display: flex
	flex-direction: column
	position: absolute
	width: auto
.property
	position: relative
	display: inline-flex
	max-width: 100%
	align-items: center
	margin-bottom: 13px
	margin-right: auto
	background-color: $white
	border-radius: 27px
	height: 20px
	padding-left: 25px
	padding-right: 10px
	font-size: 8px
	font-family: 'moderat-mono-light'
	font-weight: normal
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
	&-text
		display: inline-block
		white-space: nowrap
	b,
	strong
		font-family: 'moderat-mono-bold'
		font-weight: normal
	span
		&:before
			content: " "
			display: inline-block
	.i
		margin-left: -16px
		margin-right: 5px
		position: absolute
		height: 12px
		width: 12px

.pillar
	&-center
		width: 124px
		height: 834px
		background-color: $pinkAnimation
		border-radius: 0 0 192px 192px
		position: absolute
		bottom: 144px
		right: 16.08%
		mix-blend-mode: screen
	&-right
		width: 124px
		height: 600px
		background-color: $purpleAnimation
		border-radius: 0 0 192px 192px
		position: absolute
		bottom: 283px
		right: -9.66%
		mix-blend-mode: screen

.animation-plus
	z-index: 10
	position: absolute
	background: url(../images/animation-plus.svg) no-repeat 0 0
	background-size: contain
	border-radius: 50%
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25)

@import 'animation-header-slides-375'

@import 'animation-header-slides-heights'

@import 'animation-header-slides-768'

@import 'animation-header-slides-800'

@import 'animation-header-slides-992'

@import 'animation-header-slides-1400'

@import 'animation-header-slides-1600'

//@import 'animation-scene-01/animation-header-slide-01'

@import 'animation-scene-02/animation-header-slide-02'

//@import 'animation-scene-03/animation-header-slide-03'

@import 'animation-scene-04/animation-header-slide-04'

@import 'animation-scene-05/animation-header-slide-05'

@import 'animation-scene-06/animation-header-slide-06'

@import 'animation-header-plus'

// 1200 + 300 + 1200 + 600 + 2500 + 600 = 6400
// 1200 + 600 + 1200 + 600 + 2500 + 600 = 6700
// 1200 + 600 + 1200 + 600 + 2500 + 600 = 6700
// 1200 + 600 + 1200 + 600 + 2500 + 600 = 6700

//5.13%   2   1200  1200   4.53%
//6.41%   3   300   1500   5.66%
//11.54%  4   1200  2700   10.19%
//14.1%   5   600   3300   12.45%
//24.79%  6   2500  5800   21.89%
//27.35%  7   600   6400   24.15%

//32.48%  8   1200  7600   28.68%
//35.04%  9   600   8200   30.94%
//40.17%  10  1200  9400   35.47%
//42.74%  11  600   10000  37.74%
//53.42%  12  2500  12500  47.17%
//55.98%  13  600   13100  49.43%

//61.11%  14  1200  14300  53.96%
//63.68%  15  600   14900  56.23%
//68.8%   16  1200  16100  60.75%
//71.37%  17  600   16700  63.02%
//82.05%  18  2500  19200  72.45%
//84.62%  19  600   19800  74.72%

//89.74%  20  1200  21000  79.25%
//92.31%  21  600   21600  81.51%
//97.44%  22  1200  22800  86.04%
//100-%    23  600   23400  88.3%
          24  2500  25900  97.74%
          25  600   26500  100%
