.blog-gtri-section
	position: relative
	z-index: 0
	background: url(../images/mold-ligth-blue-test-top.svg) no-repeat bottom center, linear-gradient(96.7deg, #E6F0FF 6.22%, #FFFFFF 96.06%)
	font-family: 'moderat-light'
	font-weight: normal
	font-size: 15px
	line-height: 22px
	margin-top: -196px
	min-height: 415px
	padding-top: 235px
	b
		font-family: 'moderat-medium'
		font-weight: normal
	.h2
		font-family: 'moderat-bold'
		font-weight: normal
		font-size: 30px
		line-height: 45px
		color: $secondary

@media (min-width: 768px)
	.blog-gtri-section
		min-height: 911px
		margin-top: -431px
		padding-top: 515px
		font-size: 24px
		line-height: 32px
		.h2
			font-size: 64px
			line-height: 77px
