mixin itmmb()
	section.bg-secondary.py-4.pt-lg-9.pb-lg-7.itmmb-section.sm-toggle-position
		.container.text-center
			.text-white.mb-4
				p Transform your shoppers journey with renovai’s
				p
					b interactive tailor- made mood board
			a.btn.btn-light.shadow.d-inline-block.d-lg-none(href="book-a-demo.html") Book a Demo
			a.btn.btn-light.shadow.btn-lg.d-none.d-lg-inline-block(href="book-a-demo.html") Book a Demo
