mixin ProductContent()
	section.product-content.pt-8.pb-9
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row.align-items-center.text-center.text-lg-left
						.col-12.col-lg-5.mb-lg-10.pt-lg-7.order-1.pt-4.mb-7.order-lg-0
							h2.h2 Interior Styling
							p Enhancing product focused display offering the best interior styling, customised for each and every user.
							a.mt-4.shadow.btn.btn-primary(href="book-a-demo.html") Book a Demo
						.col-12.col-lg-6.text-lg-right.offset-lg-1.mb-lg-10.pt-lg-7.order-0.order-lg-1
							.solution-carousel.overflow-hidden
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-08.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-07.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-06.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-05.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-04.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-03.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-02.png" alt="" title="")
								img.img-fluid.img-static(src="images/phone-complete-the-look-slide-01.png" alt="" title="")
							img.img-fluid.img-static(src="images/phone-complete-the-look-01.png" alt="" title="")
						.col-12.col-lg-6.mt-lg-10.order-2
							img.img-fluid.img-static(src="images/phone-complete-the-look-02.png" alt="" title="")
						.col-12.col-lg-5.offset-lg-1.mt-lg-10.order-3.pt-4.pt-lg-0
							h2.h2 Fashion Style Assistant
							p Enhancing product focused display offering the best interior styling, customised for each and every user.
							a.mt-4.shadow.btn.btn-primary(href="book-a-demo.html") Book a Demo
