mixin ProductHeader()
	section.product-header
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row.justify-content-center
						.col-lg-10.col-xxl-12.text-center
							h1.h1 Complete the Look
							p 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
							div
								a.btn.btn-secondary.shadow(href="book-a-demo.html") Book a Demo
							.mobile-content.d-lg-none.pt-6.pb-3
								img.w-100.h-auto(src="images/mobile-complete-the-look-img.png" alt="" title="")
							.tablet-container.d-none.d-lg-inline-block
								video.w-100(muted autoplay)
									source(src="video/personalized-complete-the-look.mp4")
