include ../../molecules/tbcfyw-item-circle

mixin TheBestChoiceForYourWebsite()
	section.tbcfyw-section.pt-lg-9.pb-lg-10&attributes(attributes)
		.title
			.container
				.h2.text-center.mb-5.mb-lg-9.py-4.py-lg-0 The best choice for your website
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row.row-cols-md-2.row-cols-lg-3.tbcfyw-carousel.overflow-hidden
						+TbcfywItemCircle('easy', 'Compatible for all platforms', 'icon-easy.svg')
						+TbcfywItemCircle('Accurate', 'Backed by knowledge, not statistics', 'icon-accurate.svg')
						+TbcfywItemCircle('Holistic', 'Providing the required missing online context' ,'icon-holistic.svg')
						+TbcfywItemCircle('Innovative', 'Decentralizing professional secrets by leveraging AI' ,'icon-innovative.svg')
						+TbcfywItemCircle('Customizable', 'White label to match any brand guideline' ,'icon-customizable.svg')
						+TbcfywItemCircle('fast', 'Proven results within days' ,'icon-fast.svg')
