mixin BlogHeader()
	section.blog-header-section.position-relative
		.blog-header-container
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12.col-lg-8.col-xl-6.blog-header-content
								h1.h1 The renoview
								p Our blog brings you all the latest information and insights on AI, Design, UX, Marketing and all things e-commerce.
		img.blog-header-img(src="images/blog-header.png" alt="" title="")
