include ../../molecules/blog-carousel-item

mixin BlogCarousel()
	section.blog-carousel-section.sm-toggle-position
		.container
			.row.justify-content-center
				.col-12.col-xxl-9
					.row
						.col-12
							.media.first-blog-item.align-items-stretch.flex-column.flex-lg-row
								.media-body.d-flex.flex-column.order-1.order-lg-0
									.blog-carousel-item-date.d-flex.justify-content-between
										div Jan 6th, 2021
									.h3 Using "Complete the Look" to fit the same item in different settings
									.d-none.d-md-block
										p Two perfect designs can, and often will, include similar components, proving again and again that quality furniture can be used in many ways, and is only as nice as the scene set around it.
											br
											| While visual context has been shown to help shoppers make purchasing decisions easier, we make the case that personalized visual context helps make those decisions better....
									.mt-auto
										a.text-decoration-underline.blog-carousel-item-link.d-xl-none(href="#") Read more
										a.btn.btn-secondary.shadow.btn-icon.d-none.d-xl-inline-block(href="#")
											span Read more
											i.i.i-sm.i-right-arrow
								.blog-carousel-item-image.order-0.order-lg-1
									.img(style="background-image: url(images/news-item-background.jpg)")
									.title
										div Intersecting Styles: Visual Context in Action
								.slide-item-white.d-lg-none
								.slide-item-shadow.d-lg-none

					.row.align-self-stretch.mb-xl-10
						+BlogCarouselItem({
							titleImage: 'Flat. Out.\n Better.',
							date: 'Dec 9th, 2020',
							readTime: '3 min read',
							title: 'The worst 3D ideas and how they lost the battle against 2D',
							description: 'They said 2020 was a time to settle down and appreciate what we have, so we gave it an honest shot. As an AI company, we tend...'
						})
						+BlogCarouselItem({
							titleImage: 'Attention Please!',
							date: 'Nov 3rd, 2020',
							readTime: '3 min read',
							title: 'From interaction to behavior analysis, we break down...',
							description: 'Netflix CEO Reid Hastings famously said in 2019 that he is more worried about Fortnite than other streaming competitors like...'
						})
						+BlogCarouselItem({
							titleImage: 'Flat. Out.\n Better.',
							date: 'Dec 9th, 2020',
							readTime: '3 min read',
							title: 'The worst 3D ideas and how they lost the battle against 2D',
							description: 'They said 2020 was a time to settle down and appreciate what we have, so we gave it an honest shot. As an AI company, we tend...'
						})
						+BlogCarouselItem({
							titleImage: 'Curing \n"Purchase Paralysis"',
							date: 'Dec 3rd, 2020',
							readTime: '3 min read',
							title: 'Consumers patterns and habits in their online quest for the perfect furniture',
							description: 'Regardless of industry, consumers today are faced with an overwhelming array of choice while online shopping. The theory of...'
						})
					.row
						.col-12.text-center
							a.btn.btn-info.btn-lg(href="#") Load more
