mixin BlogItemHeader()
	section.blog-item-header-section.position-relative
		.blog-item-header-container
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12.blog-header-content
								h1.h1 Intersecting Styles: Visual Context in Action
		.blog-item-header-img(style="background-image: url(images/blog-header-item.jpg)")
