mixin BlogSignUp()
	section.blog-sign-up-section
		.container
			.row.justify-content-center
				.col-12.col-xxl-9.text-center
					h2.h2 Sign up for our blog
					p Get the latest straight to your inbox!
					.row.justify-content-center
						.col-xl-5
							form
								.form-group.row.row-cols-2.justify-content-center
									input.form-control.col-7.col-md-9.mr-4(type="text" placeholder="E-mail")
									button.btn.btn-secondary.btn-arrow.px-2.py-1.col-auto
										i.i.i-right-arrow-o
