mixin GetTheRightInsight()
	section.blog-gtri-section.sm-toggle-position
		.container
			.row
				.col-12.col-md-10
					h2.h2 Get the right insight.
					p Your destination for the information, insight, and data you need to create engaging, seamless, and intuitive product discovery experiences online and in-store.
					p.text-decoration-underline.mt-md-10.mb-5
						b OUR BLOG
