extends ../templates/layout
include ../organisms/experience-renovai

block main
	main.overflow-hidden
		section.about-section
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12
								.mb-3
									h1.h2 Who we are
								.mb-md-10.sm-toggle-position.mb-6
									p Alon Gilady and Alon Chelben (aka "the Alonz") first met while studying Economics at Tel Aviv University. They realized that they had a shared interest in creating and developing projects from scratch and decided to become business partners. After graduating, they founded a 3D-visualization studio for interior designers, providing photo-realistic CGI renders of interior and exterior settings. This project was their gateway to the virtual design realm.
										p Based on their accumulated experience and their enhanced understanding of the      design process, coupled with growing consumer demand, they planned out the idea of creating a fully automated, AI-based stylist which could completely change the way people shop online and add in the required context for a confident purchase.
										img.float-right.img-fluid.mb-4.ml-md-4(src="images/about-photo.jpg" alt="" title="")
									p Avner Priel, who holds a Ph.D in physics and is a well-known expert in the fields of   machine learning and computer vision, was intrigued by the idea of using his knowledge in a domain far removed from his everyday work and joined renovai  as the 3rd co-founder & CTO.

									p Since founded in 2019, the team has grown and amazing people that share the company values joined to build the future of online shopping together, bringing their unique expertise in CX, UX/UI, architecture and interior design, styling, and all things e-commerce.
								.mb-3
									h2.h2 What we do
								.mb-6
									p Regardless of industry, consumers today are faced with an overwhelming array of choice while online shopping. The theory of "choice paralysis" is that the more options people have to choose from, the harder the decision becomes. It's just too hard to make up our minds. Finding the right path to a happy shopper heart and mind is tricky and complex especially when items are presented as individuals, lacking context.
									p
										b With minimal integration time and resources, we provide real-time visual AI solutions empowering retailers to create unbeatable, inspiring and personal interactions with shoppers.
								.mb-md-8.mb-3
									h2.h2.text-center.text-md-left Our Core Visual AI Design Suite
							.col-12
								.title-right-white.mb-10
									.container
										.row.row-cols-1.row-cols-md-3
											.col.text-center
												p Complete the Look
												img.img-fluid(src="images/about-01.png" alt="" title="")
											.col.text-center
												p Interactive Mood-board
												img.img-fluid(src="images/about-02.png" alt="" title="")
											.col.text-center
												p Multi-Channel Remarketing
												img.img-fluid(src="images/about-03.png" alt="" title="")
											.col.text-center
												p Virtual Designer
												img.img-fluid(src="images/about-04.png" alt="" title="")
											.col.text-center
												p Personal Scout
												img.img-fluid(src="images/about-05.png" alt="" title="")
											.col.text-center
												p 360° Product Display
												img.img-fluid(src="images/about-06.png" alt="" title="")
							.col-12
								.title-left-black.mb-md-8.mb-3
									h2.h1 How we do it
								.mb-10
									p We translate decades of evolving design methodology to elevating, inspiring online experiences, creating visually appealing interactions throughout the funnel.
									p Our unique technology, Correlated Deep Tagging, hyper-personalizes the shopping experience - making products more discoverable and improving the tagging accuracy with computer vision AI.
							.col-12.position-relative.mb-5.mb-xl-0
								.hyper-personalizes
								.row.align-items-center.justify-content-center.flex-column.flex-xl-row.align-items-xl-end
									.col-auto.col-about-auto.pl-xl-0
										img.img-fluid(src="images/about-img-01.jpg" alt="" title="")
									.col-auto.col-about-auto
										img.img-fluid(src="images/about-img-02.jpg" alt="" title="")
									.col-auto.col-about-auto.pr-xl-0
										img.img-fluid(src="images/about-img-03.jpg" alt="" title="")

							.col-12.mb-3.mb-md-6
								div
									p Correlated deep tagging improves filtering based on the categories shoppers want to explore by adding in context when creating a match. It delivers the most accurate results both for small vendors and marketplaces with large inventory sources.
										br
										| Correlated deep tagging works on multiple visual discovery cues shoppers can select, combine or remove until they find exactly what they want. In a way, in turns product catalog to a tailor-made one. Filtering out items that do not fit the exact criteria for a more accurate search alleviates shopper frustration and focuses solely on effective product discovery and personal style, enabling personalized style-based recommendations like similar items and completing a full look.
							.col-12.h3.text-purple3
								p We provide the technology that bridges between product discovery and purchase, the ultimate tools for increasing conversion and AOV and cementing brand loyalty.
		section.about-end-section
		+ExperienceRenovai()
