extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/blog/blog-item-header
include ../organisms/blog/blog-sign-up

block main
	main
		+BlogItemHeader()
		section.blog-content-section
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						h2.mb-6 Addressing consumers patterns and habits in their online quest for the perfect furniture

						.mb-6.d-flex.align-items-md-center.flex-column.flex-md-row
							.avatar.d-inline-block.mr-4.mb-3.mb-md-0
								img(src="images/avatar-blog.jpg" alt="" title="")
								b Amit Chich
								|  |
								span  Jan 6th, 2021
							div
								a.mr-2(href="#")
									i.i.i-fb.i-reverse.i-social
								a.mr-2(href="#")
									i.i.i-in.i-reverse.i-social
								a.mr-2(href="#")
									i.i.i-tw.i-reverse.i-social
								a.mr-2(href="#")
									i.i.i-ml.i-reverse.i-social

						p Regardless of industry, consumers today are faced with an overwhelming array of choice while online shopping. The theory of choice paralysis is that the more options people have to choose from, the harder the decision becomes. It's just too hard to make up our minds.

						p
							b MarketingTech's
							|  research reveals that with more choices available, consumers increasingly expect the brands and retailers they interact with to provide a frictionless experience, guiding them to the perfect products and services.
							br
							| In fact,
							b  42%
							|  of consumers admit to abandoning a planned purchase because of too many options and
							b  54%
							|  have abandoned a particular site because it was too difficult to find the right product.
							b  71%
							|  will switch to a competitor that makes finding and choosing the right product easier and personalized.

						p Another research conducted by
							b  unfurnish.com
							| , gives a statistical overview of consumer choice paralysis when in comes to online furniture shopping:

						ul
							li People spend approx. 38 days researching what furniture to purchase for their home
							li 38% are overwhelmed with the amount of choice available
							li 30% are worried to find a better option later
							li 31% blame their ‘purchase paralysis’ on a lack of confidence in their interior design capabilities
							li 68% say it is more important than ever that the items they buy are good value for money
							li 36% find online furniture shopping the most challenging online shopping but 39%  address it as their post COVID-19 priority
							li At least 30 hours of research are spent before selecting furniture or home décor items

						h3 Here are our tips for helping your shoppers overcome their choice paralysis:
						h4 Review data and identify areas for concern on your website
						p Capture qualitative and quantitative data to learn what is happening throughout the journeys and most importantly, why. Establish a process for reviewing data and translating it into action.  Never forget the importance of feedback from real people. Stay on top of what people think, how well your website supports them and how well you understand the dynamic.
		+BlogSignUp()
		+ExperienceRenovai()
