extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/careers/careers-header
include ../organisms/careers/careers-grandmother
include ../organisms/careers/careers-family

block main
	main
		+CareersHeader()
		+CareersGrandmother()
		+CareersFamily()
		+ExperienceRenovai()
