extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/case-studies/case-studies-item-header
include ../organisms/case-studies/case-studies-item-content

block main
	main
		+CaseStudiesItemHeader()
		+CaseStudiesItemContent(true)
		+ExperienceRenovai()
