extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/case-studies/case-studies-header
include ../organisms/case-studies/case-studies-content

block main
	main
		+CaseStudiesHeader()
		+CaseStudiesContent()
		+ExperienceRenovai()
	.modal.fade#caseStudiesItemModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-dialog-centered.modal-xl
			.modal-content.case-studies-item-modal
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					.row
						.col-xl-6
							h1.h1 MADE boosted engagement and increased revenue with renovai's “Shop the Room"
							p.d-none.d-lg-block Made.com managed to improve their revenue increase by a whopping 13%, Average order value by 12.4% and double average time on site.
						.col-xl-6.text-center.text-lg-left
							.h3 Get your case study here:
							form
								.form-group.row
									.col-12
										input.form-control(type="text" placeholder="Full Name")
								.form-group.row
									.col-12
										input.form-control(type="text" placeholder="Company Name")
								.form-group.row
									.col-12
										input.form-control(type="text" placeholder="Email")
								p.small.mb-5 We collect the information you provide here in order to send you your copy of the case study, don’t worry, we are not into spamming! You may unsubscribe from these communications at any time.
								.form-group.row
									.col-12
										button.btn.btn-pink.btn-lg.w-100.d-none.d-md-inline-block(type="button" data-toggle="modal" data-target="#caseStudiesGotItModal") Send to mail
										button.btn.btn-pink.w-100.d-md-none(type="button" data-toggle="modal" data-target="#caseStudiesGotItModal") Send to mail
	.modal.fade#caseStudiesGotItModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-dialog-centered.modal-xl
			.modal-content.case-studies-item-modal
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
				.modal-body
					.text-center
						h1.h1 Got it!
						p.mb-5 Your copy will be sent to your email shortly, we hope you will find it insightful.
							br
							| Thank you for your interest in renovai!
						.mb-10
							a.btn.btn-secondary.btn-icon(href="#")
								span See more
								i.i.i-sm.i-right-arrow
						img(src="images/footer-logo.svg" alt="" title="")
