extends ../templates/layout-index
include ../organisms/header-logos
include ../organisms/sier
include ../organisms/rcsar
include ../organisms/slider-navy
include ../organisms/reviews
include ../organisms/experience-renovai
include ../organisms/animation-header-slides

block main
	main
		+AnimationHeaderSlides()
		+HeaderLogos()
		+ShopInspireExperienceRepeat()
		+RenovaiCustomersSeeAdvancedResults()
		section.bg-secondary.py-5.py-md-8.lp-main-section.bg-gradient-blue
			.container.text-center
				.row
					.col-12.col-xxl-8.offset-xxl-2
						.row.justify-content-center
							.col-12.mb-6
								h2 Our Visual AI Design Solutions
						.row.justify-content-center
							- var n = 0
							while n < 5
								- n++
								.col-12.col-xl-10.col-xxl-4.pb-9.px-3
									.lp-col-content.text-center
										img.img-fluid.mb-2(src="images/icon-recommendations.svg" alt="" title="")
										.lp-col-title
											small renovai
											p Studio
										h3.mb-2 Your one-stop shop for visual content creation
										p Simplify visual content production and reduce costs, while creating immersive engaging experiences at scale.
										a(href="#") Learn more

		+SliderNavy()
		+Reviews()
		section.bg-pink5.pt-lg-7.pt-4.pb-6.siriyp-section
			.container
				.row.mb-lg-6.mb-5
					.col-12.col-xxl-7.text-center.mx-auto
						h2.display-h2 Seamlessly integrate renovai into your platform
				.row.row-cols-lg-4.row-cols-2.justify-content-center.text-center
					.col.py-lg-4.py-2
						img.img-fluid(src="images/wix-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/shopify-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/shopify-plus-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/woo-commerce-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/big-commerce-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/adobe-commerce-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/elementor-logo.svg" alt="" title="")
					.col.py-lg-4.py-2
						img.img-fluid(src="images/wordpress-logo.svg" alt="" title="")
		+ExperienceRenovai()
