extends ../templates/page-not-found

block main
	main
		section.page-not-found-section
			.container
				.row
					.col-12.col-md-8
						p
							small Error code:
						p.h1 404
						p Someone really made a mess while searching for that page…
							br
							| Let's go to your homepage away from home while we work our magic up in here.
						a.btn.btn-light.shadow(href="/") Take me back
