extends ../templates/layout
include ../organisms/experience-renovai
include ../organisms/solutions/itmmb
include ../organisms/solutions/product-header
include ../organisms/solutions/tbcfyw
include ../organisms/solutions/product-content

block main
	main
		+ProductHeader()
		+itmmb()
		+ProductContent()
		+TheBestChoiceForYourWebsite()
		+ExperienceRenovai()
