extends ../templates/layout
include ../organisms/solutions/tbcfyw
include ../organisms/experience-renovai

block main
	main.overflow-hidden.position-relative
		section.bg-primary
			.container.lp-container.text-center
				img.img-fluid.mb-6(src="images/icon-recommendations.svg" alt="" title="")
				h1.h1.mb-3
					small renovai
					span Studio
				p.mb-8 Your one stop-shop for visual content creation
				a.btn.btn-light(href="book-a-demo.html") Book a Demo
		section.bg-gradient-blue.pt-5.pb-6
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12
								.text-center.mb-7.lp-title-block
									p renovai
									h2.h2 Studio Solutions
								.d-flex.justify-content-between.flex-column.flex-md-row
									- var n = 0
									while n < 3
										- n++
										.text-center.mb-5.lp-list-item
											img.img-fluid.mb-3(src="images/lp-item-image.png" alt="" title="")
											p 3D<br>Models
									.text-center.mb-5.lp-list-item
										img.img-fluid.mb-3(src="images/lp-item-image.png" alt="" title="")
										p <b>3D</b><br>Models
		section
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12
								.row.row-chessboard.row-chessboard-reverse
									.col-12.col-md-6.col-chessboard
										h3.h3 3D Models
											p.sub-title Category Page
										p Creating 3D products at scale by sampling your 2D product page photos.
										div.mt-3
											a.btn.btn-light(href="book-a-demo.html") Book a Demo
									.col-12.col-md-6.col-chessboard
										img.img-fluid(src="images/renovai-lp.png" alt="" title="")
									.col-12.col-md-6.col-chessboard
										img.img-fluid(src="images/renovai-lp.png" alt="" title="")
									.col-12.col-md-6.col-chessboard
										h3.h3 Product Gallery Images
										p Automate your product photography process, delivering 360° & 3D products on white or transparent backgrounds, product focused zoomed-in lifestyle imagery empowering you customers all the way to conversion.
										div.mt-3
											a(href="book-a-demo.html") Book a Demo
									.col-12.col-md-6.col-chessboard
										h3.h3 Lifestyle Image Generator
										p Provide context and style around your products without the production hassle. Offering unlimited inspirations to each anchor product to increase engagement and make your brand story memorable.
										div.mt-3
											a.btn.btn-light(href="book-a-demo.html") Book a Demo
									.col-12.col-md-6.col-chessboard
										img.img-fluid(src="images/renovai-lp.png" alt="" title="")
									.col-12.col-md-6.col-chessboard
										img.img-fluid(src="images/renovai-lp.png" alt="" title="")
									.col-12.col-md-6.col-chessboard
										h3.h3 360° Product Configurator
										p Creating 3D products at scale by sampling your 2D product page photos.
										div.mt-3
											a.btn.btn-primary(href="book-a-demo.html") Book a Demo
		+TheBestChoiceForYourWebsite()(class="bg-primary text-white")
		+ExperienceRenovai()
