extends ../templates/layout

block main
	main
		section.book-a-demo-section.thank-you-section
			.container
				.row.justify-content-center
					.col-12.col-xxl-9
						.row
							.col-12.col-md-8.offset-md-2.text-center
								.h1 Thank you!
								p.mb-6 We will contact you shortly in order to arrange a demo session in the meantime we invite you to explore our site and join the world's innovative brands.
								a.btn.btn-primary.btn-icon(href="/")
									span Explore
									i.i.i-sm.i-right-arrow
