@media (min-width: 992px)
	.animation-header-slide-03.animation
		.man
			width: 401px
			height: 483px
			background: url(../images/man-slide-03.png) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: -1px
			left: -483px
			animation: ease-out 6600ms infinite forwards man03Key992
		.properties-container
			opacity: 0
			top: 239px
			left: 61.1%
			animation: ease-out 6600ms infinite forwards propertiesContainer03Key992
		.property
			opacity: 0
			white-space: nowrap
			animation: ease-out 6600ms infinite forwards property03Key992
			&-text
				animation: ease-out 6600ms infinite forwards propertyText03Key992
		.phone-animation-slide-03
			position: absolute
			right: 114px
			top: -545px
			width: 290px
			height: 545px
			background: url(../images/phone-animation-slide-03.png) no-repeat 0 0
			background-size: contain
			animation: ease-out 6600ms infinite forwards phoneAnimationSlide03Key992

		.scene-03
			&-img
				&-01
					position: absolute
					width: 172px
					height: 172px
					right: 194px
					top: -172px
					animation: ease-out 6600ms infinite forwards scene03img01Key992
				&-02
					opacity: 0
					width: 177px
					height: 324px
					position: absolute
					bottom: -324px
					right: 138px
					animation: ease-out 6600ms infinite forwards scene03img02Key992
				&-03
					opacity: 0
					width: 178px
					height: 102px
					position: absolute
					bottom: -102px
					right: -178px
					animation: ease-out 6600ms infinite forwards scene03img03Key992
				&-04
					opacity: 0
					width: 100px
					height: 79px
					position: absolute
					top: -79px
					right: 135px
					animation: ease-out 6600ms infinite forwards scene03img04Key992
				&-05
					opacity: 0
					width: 74px
					height: 110px
					position: absolute
					top: 257px
					right: -74px
					animation: ease-out 6600ms infinite forwards scene03img05Key992
				&-06
					opacity: 0
					width: 77px
					height: 110px
					position: absolute
					top: 421px
					right: -110px
					animation: ease-out 6600ms infinite forwards scene03img06Key992

	@keyframes scene03img06Key992
		60.75%
			opacity: 0
			right: -110px
		63.02%
			opacity: 1
			right: 119px
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			right: 119px

	@keyframes scene03img05Key992
		60.75%
			opacity: 0
			right: -74px
		63.02%
			opacity: 1
			right: 122px
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			right: 122px

	@keyframes scene03img04Key992
		60.75%
			opacity: 0
			top: -79px
		63.02%
			opacity: 1
			top: 162px
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			top: 162px

	@keyframes scene03img03Key992
		60.75%
			opacity: 0
			bottom: -102px
			right: -178px
		63.02%
			opacity: 1
			bottom: 249px
			right: 249px
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			bottom: 249px
			right: 249px

	@keyframes scene03img02Key992
		60.75%
			opacity: 0
			bottom: -324px
		63.02%
			opacity: 1
			bottom: 150px
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			bottom: 150px

	@keyframes scene03img01Key992
		53.96%
			top: -172px
		56.23%
			width: 172px
			height: 172px
			right: 194px
			top: 162px
		60.75%
			width: 172px
			height: 172px
			right: 194px
			top: 162px
		63.02%
			width: 268px
			height: 268px
			top: 150px
			right: 137px
			opacity: 1
		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			width: 268px
			height: 268px
			top: 150px
			right: 137px
			opacity: 0

	@keyframes phoneAnimationSlide03Key992
		53.96%
			top: -545px
		56.23%
			top: 118px
		60.75%
			opacity: 1
		63.02%
			opacity: 0
		100%
			top: 118px
			opacity: 0

	@keyframes propertiesContainer03Key992
		47.17%
			opacity: 0
		49.43%
			opacity: 1
		53.96%
			top: 239px
			left: 61.1%
		56.23%
			top: 239px
			left: 90%
		60.75%
			top: 239px
			left: 90%
		63.02%
			top: 285px
			left: 91.1%
		100%
			opacity: 1
			top: 285px
			left: 91.1%

	@keyframes propertyText03Key992
		47.17%
			opacity: 0
		49.43%
			opacity: 1
			width: 100%
		53.96%
			opacity: 1
			width: 100%
		56.23%
			opacity: 0
			width: 0
		100%
			opacity: 0
			width: 0

	@keyframes property03Key992
		47.17%
			opacity: 0
		49.43%
			opacity: 1
		53.96%
			max-width: 100%
		56.23%
			max-width: 37px

		72.45%
			opacity: 1
		74.72%
			opacity: 0
		100%
			opacity: 0
			max-width: 37px

	@keyframes man03Key992
		47.17%
			left: -583px
			opacity: 0
		49.43%
			left: 16.67%
			opacity: 1
		72.45%
			left: 16.67%
			opacity: 1
		74.72%
			left: -483px
			opacity: 0
		100%
			left: -483px
			opacity: 0
