mixin ExperienceRenovai()
	section.bg-experience-renovai.d-flex.experience-renovai
		.container.mt-auto
			.row
				.col-12.col-xxl-8.offset-xxl-2
					.row.align-items-start.justify-content-center
						.col-12.col-md-8.col-lg-6.align-content-start
							.text-center.d-lg-inline-block.mt-6.mt-lg-0.mb-6
								.h1.mb-4
									p Experience renovai
								a.btn-lg.d-none.d-md-inline-block.shadow.btn.btn-primary(href="book-a-demo.html") Book a Demo
								a.d-md-none.shadow.btn.btn-primary(href="book-a-demo.html") Book a Demo
						.col-12.col-md-8.col-lg-6
							.text-right
								img.img-fluid(src="images/request-demo-phone.png" alt="" title="")
