footer.py-5.pt-md-6.pb-md-7.text-white.bg-primary
	.container
		.row.d-none.d-md-flex.justify-content-lg-between.justify-content-xl-start
			.col-md-6.col-lg-auto.pr-xl-9.pr-md-8
				nav
					p
						b.text-white Resources
					.mb-2
						a.text-white.d-inline-block(href="#") Blog
					.mb-2
						a.text-white.d-inline-block(href="#") White Papers & Reports
					.mb-2
						a.text-white.d-inline-block(href="#") Data Sheets
					.mb-2
						a.text-white.d-inline-block(href="#") Case Studies
			.col-md-6.col-lg-auto.pr-xl-9.pr-md-8
				nav
					p
						b.text-white Solutions
					.mb-2
						a.text-white.d-inline-block(href="#") Virtual Designer
					.mb-2
						a.text-white.d-inline-block(href="#") Complete the Look
					.mb-2
						a.text-white.d-inline-block(href="#") Interactive Mood-board
					.mb-2
						a.text-white.d-inline-block(href="#") Multi-channel Remarketing
					.mb-2
						a.text-white.d-inline-block(href="#") personal scout
					.mb-2
						a.text-white.d-inline-block(href="#") 360° Product display
			.col-md-6.col-lg-auto.pr-xl-9.pr-md-8
				nav
					p
						b.text-white Company
					.mb-2
						a.text-white.d-inline-block(href="#") About
					.mb-2
						a.text-white.d-inline-block(href="#") News
					.mb-2
						a.text-white.d-inline-block(href="#") Contact
					.mb-2
						a.text-white.d-inline-block(href="#") Careers
			.col-md-6.col-lg-auto
				nav
					p
						b.text-white Contact Us
		.row.mt-md-9.align-items-end
			.col-12.text-center.d-md-none.mb-4.order-md-0.order-1
				p.d-md-none Visual AI Shoping Assistance for
					br
					| LIfestyle Brands
				a.btn.btn-secondary(href="book-a-demo.html") Book a Demo
			.col-md-6.col-12.order-md-1.order-2
				.text-center.text-md-left.mb-2.mb-md-3
					a.i.i-fb.i-social.mr-3(href="#")
					a.i.i-youtube.i-social.mr-3(href="#")
					a.i.i-inst.i-social.mr-3(href="#")
					a.i.i-in.i-social(href="#")
			.col-md-6.text-md-right.col-12.text-center.order-md-2.order-0
				img.footer-logo(src="images/footer-logo.svg" alt="" title="")
		.row
			.col-12.col-md-6.col-lg-3
				.text-center.text-md-left.pt-1
					a.text-white(href="general-terms-and-conditions.html") General Terms & Conditions
			.col-12.col-lg-9.col-xl-6.text-white.text-center
				.d-flex.align-items-center.justify-content-xl-center.justify-content-lg-end
					span © renovai 2021 All Rights Reserved
					.border-left.border-white.pt-5.d-inline-block.mx-1
					a.text-white(href="#") Privacy Policy
					.border-left.border-white.pt-5.d-inline-block.mx-1
					a.text-white(href="#") Cookie Policy
