mixin RenovaiCustomersSeeAdvancedResults()
	section.py-2.py-md-10.counter-section-rcsar.rcsar
		.container
			.row
				.col-12.col-xxl-8.offset-xxl-2
					h2.text-center.mb-3.mb-md-9.h1.text-secondary Brands see amazing results with renovai:
					.row.row-cols-1.row-cols-md-2.row-cols-lg-4.counters
						.col.text-center.mb-5.mb-lg-0
							.h1(data-counter="30" data-suffix="" data-prefix="%")
							.h5 Revenue Increase
						.col.text-center.mb-5.mb-lg-0
							.h1(data-counter="9" data-suffix="" data-prefix="%")
							.h5 Average Order Value Increase
						.col.text-center.mb-5.mb-lg-0
							.h1(data-counter="16" data-suffix="" data-prefix="%")
							.h5 Conversion Rate Increase
						.col.text-center.mb-5.mb-lg-0
							.h1(data-counter="2" data-suffix="" data-prefix="x")
							.h5 Time-On-Site Increase
