mixin Reviews()
	.overflow-hidden
		section.reviews
			.container.text-center.mt-5.mt-md-6.mb-8.mb-md-6.pb-md-8
				h2.h-lg.h2.mb-2.text-secondary Don’t just take our word for it
				.h4
					p See how our customers found rapid success using renovai’s solutions
		section.bg-reviews.reviews
			.container.h-inherit
				.row.h-inherit
					.col-10.offset-1.col-md-8.offset-md-2.col-xl-10.offset-xl-1.h-inherit
						.carousel-reviews#carouselReviews.text-white
							.h-100
								.text-center.position-relative.review-item.d-flex.flex-column.align-items-center.h-100
									.bg-image(style="background-image: url(images/bg-reviews.jpg)")
									.review-img.mb-2(style="background-image: url(images/review-item.jpg)")
									.mb-2
										img(src="images/temple-webster-logo.svg" alt="" title="" width="100")
									.mb-2
										p
											b Adam McWhinney /
											span  Chief Experience Officer & Co Founder at Temple & Webster
									.text-review-content
										p “Adding renovai’s mood board to our product pages had an immediate impact to shopper engagement and overall spending! It enables up sells in a very intuitive non – pushy way as part of a great user experience.”
							.h-100
								.text-center.position-relative.review-item.d-flex.flex-column.align-items-center.h-100
									.bg-image(style="background-image: url(images/bg-reviews.jpg)")
									.review-img.mb-2(style="background-image: url(images/review-item.jpg)")
									.mb-2
										img(src="images/mobly-logo-mono.svg" alt="" title="" width="100")
									.mb-2
										p
											b Adam McWhinney /
											span  Chief Experience Officer & Co Founder at Temple & Webster
									.text-review-content
										p "With the understanding that displaying products in a designed setting will increase conversion we sought out for a technology that can provide it without requiring massive development time. renovai's CTL provided us with an engaging product discovery platform following a quick and easy integration. With the amazing results we are seeing we are delighted to partner with renovai and further explore utilizing their technology in various website applications".
