mixin ShopInspireExperienceRepeat()
	section.bg-secondary.py-5.py-md-7.sier
		.container.text-center
			.row.justify-content-center
				.col-12
					h1.h7.mb-2.text-white Shop. Inspire. Experience. Repeat.
				.col-12.col-xl-10.col-xxl-8.h5
					p We are spearheading Contextual AI Design, providing the ultimate hyper personalized online experiences.
						br
						| Our automated real-time solutions increase revenue and cement brand loyalty, paving the path between product display and purchase.
