mixin SliderNavy()
	section.pt-3.pt-md-5.pb-3.pb-lg-7.position-relative.bg-primary.slider-navy.overflow-hidden
		.container.min-vh-100
			.row.align-items-center.min-vh-100
				.col-12.col-xxl-8.offset-xxl-2
					.ren-carousel
						.ren-carousel-slick-first.text-white
							.ren-carousel-item
								.row.text-center.text-md-left
									.col-12.order-1.order-md-0.h-100
										.video-carousel
											.poster(style="background-image: url(images/complete-the-look-desktop-poster.png)")
											video.w-100(muted poster="images/complete-the-look-desktop-poster.png")
												source(src="video/personalized-complete-the-look.mp4")
									.col-12.order-0.order-md-1
										h4.h2.mb-2 Personalized Complete The Look
							.ren-carousel-item
								.row.text-center.text-md-left
									.col-12.order-1.order-md-0.h-100
										.video-carousel
											video.w-100(muted poster="images/complete-the-look-desktop-poster.png")
												source(src="video/personalized-complete-the-look.mp4")
									.col-10.order-0.order-md-1.offset-1.offset-md-0
										h4.h2.mb-2 Personalized Complete The Look

						.ren-carousel-indicators.my-4.my-md-0

						.ren-carousel-slick-second.text-white
							.ren-carousel-item
								.row.text-center.text-md-left
									.col-12.col-md-10.order-2
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow
							.ren-carousel-item
								.row.text-center.text-md-left
									.col-12.col-md-10.order-2
										.h5.mb-2 2D inspiration images enhancing product focused display offering the best targeted assorted products and color palettes.
										a.btn.btn-pink.btn-icon(href="#")
											span Explore
											i.i.i-sm.i-right-arrow


