mixin AnimationHeaderSlide05()
	.animation-scene.overflow-hidden.w-100.h-100.animation-header-slide-05
		.woman
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  53/married
			.property
				i.i.i-boho
				.property-text
					b Style:
					span  Boho
			.property
				i.i.i-rattan-wood
				.property-text
					b Materials:
					span  Rattan & Wood
			.property
				i.i.i-dollar
				.property-text
					b Budget:
					span  €900-€2000
		.scene-05
			.phone-animation-slide-05
			img.scene-05-img-02(src="images/scene-05-img-02.png" alt="" title="")
			img.scene-05-img-03(src="images/scene-05-img-03.png" alt="" title="")
			img.scene-05-img-01(src="images/scene-05-img-01.png" alt="" title="")
			img.scene-05-img-04(src="images/scene-05-img-04.png" alt="" title="")
