mixin AnimationHeaderSlide01()
	.overflow-hidden.w-100.h-100.animation-header-slide-01
		.woman
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  21/single
			.property
				i.i.i-style
				.property-text
					b Style:
					span  Preppy
			.property
				i.i.i-materials
				.property-text
					b Materials:
					span  Leather & Suede
			.property
				i.i.i-budget
				.property-text
					b Budget:
					span  €100-€400
		.scene-02
			.phone-animation-slide-01
			img.scene-01-img-01(src="images/scene-01-img-01.png" alt="" title="")
			img.scene-01-img-02(src="images/scene-01-img-02.png" alt="" title="")
			img.scene-01-img-03(src="images/scene-01-img-03.png" alt="" title="")
			img.scene-01-img-04(src="images/scene-01-img-04.png" alt="" title="")
			img.scene-01-img-05(src="images/scene-01-img-05.png" alt="" title="")
			img.scene-01-img-06(src="images/scene-01-img-06.png" alt="" title="")

