mixin AnimationHeaderSlide02()
	.animation-scene.overflow-hidden.w-100.h-100.animation-header-slide-02.animation
		.woman
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  32/single
			.property
				i.i.i-retro
				.property-text
					b Style:
					span  Retro
			.property
				i.i.i-plush-velvet
				.property-text
					b Materials:
					span  Plush Velvet
			.property
				i.i.i-dollar
				.property-text
					b Budget:
					span  $100-$400
		.scene-02
			.phone-animation-slide-02
			img.scene-02-img-02(src="images/scene-02-img-02.png" alt="" title="")
			img.scene-02-img-03(src="images/scene-02-img-03.png" alt="" title="")
			img.scene-02-img-04(src="images/scene-02-img-04.png" alt="" title="")
			img.scene-02-img-05(src="images/scene-02-img-05.png" alt="" title="")
			img.scene-02-img-01(src="images/scene-02-img-01.png" alt="" title="")
