mixin AnimationHeaderSlide03()
	.overflow-hidden.w-100.h-100.animation-header-slide-03
		.man
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  26/single
			.property
				i.i.i-minimal
				.property-text
					b Style:
					span  Minimal
			.property
				i.i.i-organic-cotton
				.property-text
					b Materials:
					span  Organic Cotton
			.property
				i.i.i-budget
				.property-text
					b Budget:
					span  €100-€400
		.scene-02
			.phone-animation-slide-03
			img.scene-03-img-02(src="images/scene-03-img-02.png" alt="" title="")
			img.scene-03-img-01(src="images/scene-03-img-01.png" alt="" title="")
			img.scene-03-img-03(src="images/scene-03-img-03.png" alt="" title="")
			img.scene-03-img-04(src="images/scene-03-img-04.png" alt="" title="")
			img.scene-03-img-05(src="images/scene-03-img-05.png" alt="" title="")
			img.scene-03-img-06(src="images/scene-03-img-06.png" alt="" title="")
