mixin AnimationHeaderSlide06()
	.animation-scene.overflow-hidden.w-100.h-100.animation-header-slide-06
		.man
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  51/married +2
			.property
				i.i.i-industrial
				.property-text
					b Style:
					span  Industrial
			.property
				i.i.i-steel-stone-marble
				.property-text
					b Materials:
					span  Steel/Stone/Marble
			.property
				i.i.i-dollar
				.property-text
					b Budget:
					span  €200-€600
		.scene-06
			.phone-animation-slide-06
			img.scene-04-img-02(src="images/scene-06-img-02.png" alt="" title="")
			img.scene-04-img-03(src="images/scene-06-img-03.png" alt="" title="")
			img.scene-04-img-01(src="images/scene-06-img-01.png" alt="" title="")
			img.scene-04-img-04(src="images/scene-06-img-04.png" alt="" title="")
