mixin AnimationHeaderSlide04()
	.animation-scene.overflow-hidden.w-100.h-100.animation-header-slide-04
		.man
		.properties-container
			.property
				i.i.i-demographic
				.property-text
					b Demographic:
					span  51/single
			.property
				i.i.i-industrial
				.property-text
					b Style:
					span  Industrial
			.property
				i.i.i-steel-stone-marble
				.property-text
					b Materials:
					span  Steel/Stone/Marble
			.property
				i.i.i-dollar
				.property-text
					b Budget:
					span  $400-$800
		.scene-02
			.phone-animation-slide-04
			img.scene-04-img-02(src="images/scene-04-img-02.png" alt="" title="")
			img.scene-04-img-03(src="images/scene-04-img-03.png" alt="" title="")
			img.scene-04-img-05(src="images/scene-04-img-05.png" alt="" title="")
			img.scene-04-img-01(src="images/scene-04-img-01.png" alt="" title="")
			img.scene-04-img-04(src="images/scene-04-img-04.png" alt="" title="")
