mixin CaseStudiesMedia()
	.col-12.col-xl-10.offset-xl-1.mb-6.mb-md-10
		.media.shadow.bg-white.flex-column.flex-lg-row.align-items-stretch
			.case-studies-img(style="background-image: url(images/case-studies-item-bg.jpg)")
				img(src="images/case-studio-logo-item.svg" alt="" title="")
			.media-body
				img.mb-3(src="images/made-logo-media.svg" alt="" title="")
				h2.h2 Boosted engagement and increased revenue with renovai's “Shop the Room" Boosted engagement and increased revenue with renovai's “Shop the Room"
				p Made.com managed to improve their revenue increase by a whopping 13%, Average order value by 12.4% and double average time on site.
				.text-left.text-lg-right
					a.btn.btn-secondary.btn-icon.shadow(href="#" data-toggle="modal" data-target="#caseStudiesItemModal")
						span Get your copy
						i.i.i-sm.i-right-arrow
