mixin NewsMediaItem(data)
	.media.align-items-stretch(class= data.isVertical ? 'flex-column': 'flex-column flex-lg-row')
		.news-item-image
			.img(style="background-image: url(images/news-item-background.jpg)")
			img.logo(src="images/news-item-logo.png" alt="" title="")
		.media-body.d-flex.flex-column
			if (data.date)
				.news-item-date= data.date
			.h3= data.title
			.d-none.d-md-block
				p= data.description
			.mt-auto
				a.text-decoration-underline.news-item-link(href="#") Read more
