.about-end-section
	font-family: 'moderat-bold'
	font-weight: normal
	font-size: 24px
	line-height: 42px
	letter-spacing: -0.02rem
	color: $purple3
	padding-top: 65px
.about-section
	background: url(../images/mold-ligth-blue-test-top.svg) no-repeat bottom center, linear-gradient(96.7deg, #E6F0FF 6.22%, #FFFFFF 96.06%)
	padding-top: 85px
	padding-bottom: 65px
	font-family: 'moderat-light'
	font-weight: normal
	font-size: 18px
	line-height: 28px
	p
		margin-bottom: 24px
		b
			font-family: 'moderat-bold'
			font-weight: normal
	.h3
		font-family: 'moderat-bold'
		font-weight: normal
		font-size: 24px
		line-height: 42px
	.h2
		font-family: 'comfortaa'
		font-weight: 700
		font-size: 24px
		line-height: 34px
	.title
		&-left
			&-black
				//background-color: $primary
				//border-radius: 200px
				//padding: 36px 63px 36px 1000px
				//color: $body-color
				display: inline-block
				white-space: nowrap
				//margin-left: -1000px
		&-right
			&-black
				//background-color: $primary
				//border-radius: 200px
				//padding: 36px 2000px 36px 40px
				//color: $white
				display: inline-block
				white-space: nowrap
				//margin-left: 20px
				//margin-right: -1000px
			&-white
				background-color: $white
				border-radius: 1000px
				padding: 76px 1000px 0 300px
				margin-left: -300px
				margin-right: -1000px
				white-space: nowrap
				p
					font-size: 20px
					line-height: 32px
					margin-bottom: 40px
	.title-left-black,
	.title-right-black
		.h1
			font-family: 'comfortaa'
			font-weight: 700
			font-size: 24px
			line-height: 34px
			margin-bottom: 0
.col-about-auto
	position: relative
	&:after
		content: ""
		display: block
		background: url(../images/animation-plus.svg) no-repeat 0 0
		background-size: contain
		width: 36px
		height: 36px
		position: absolute
		left: 0
		right: 0
		bottom: -10px
		margin: auto
		z-index: 2
		border-radius: 100%
		box-shadow: 0px 77.2195px 61.7756px rgba(0, 0, 0, 0.07), 0px 32.2604px 25.8083px rgba(0, 0, 0, 0.0503198), 0px 17.248px 13.7984px rgba(0, 0, 0, 0.0417275), 0px 9.66907px 7.73526px rgba(0, 0, 0, 0.035), 0px 5.13517px 4.10814px rgba(0, 0, 0, 0.0282725), 0px 2.13686px 1.70949px rgba(0, 0, 0, 0.0196802)
	img
		border-radius: 100px
		box-shadow: 0 104.255px 83.4043px rgba(0, 0, 0, 0.07), 0 43.5554px 34.8443px rgba(0, 0, 0, 0.0503198), 0 23.2868px 18.6294px rgba(0, 0, 0, 0.0417275), 0 13.0544px 10.4435px rgba(0, 0, 0, 0.035), 0 6.93308px 5.54647px rgba(0, 0, 0, 0.0282725), 0 2.88501px 2.30801px rgba(0, 0, 0, 0.0196802)
		margin-bottom: 16px
	&:nth-child(2)
		img
			max-width: calc(100%)
	&:last-child:after
		display: none

.hyper-personalizes
	position: absolute
	top: -28px
	right: 0
	bottom: 0
	left: 0
	border-radius: 100px
	background-color: $white
	z-index: 0

@media (min-width: 1200px)
	.hyper-personalizes
		position: absolute
		height: 462px
		width: 2000px
		top: auto
		right: 0
		bottom: 90px
		left: -500px
		background-color: $white
		z-index: 0

@media (min-width: 1400px)
	.col-about-auto
		&:after
			display: none
		img
			border-radius: 100px
			box-shadow: 0 104.255px 83.4043px rgba(0, 0, 0, 0.07), 0 43.5554px 34.8443px rgba(0, 0, 0, 0.0503198), 0 23.2868px 18.6294px rgba(0, 0, 0, 0.0417275), 0 13.0544px 10.4435px rgba(0, 0, 0, 0.035), 0 6.93308px 5.54647px rgba(0, 0, 0, 0.0282725), 0 2.88501px 2.30801px rgba(0, 0, 0, 0.0196802)
			margin-bottom: 160px
		&:nth-child(2)
			img
				max-width: 100%
	.about-end-section
		font-size: 40px
		line-height: 60px
		letter-spacing: -0.02rem
		padding-top: 125px
	.about-section
		padding-top: 225px
		padding-bottom: 125px
		font-size: 24px
		line-height: 40px
		p
			margin-bottom: 24px
		.h3
			font-size: 32px
			line-height: 42px
		.h2
			font-size: 50px
			line-height: 75px
		.title
			//&-left
				//&-black
					//padding: 112px 155px 112px 1000px
					//margin-left: -1000px
			&-right
				//&-black
					//padding: 112px 2000px 112px 96px
					//margin-left: -96px
					//margin-right: -1000px
				&-white
					padding: 76px 1000px 0 300px
					margin-left: -300px
					margin-right: -1000px
					p
						font-size: 20px
						line-height: 32px
						margin-bottom: 40px
		.title-left-black,
		.title-right-black
			.h1
				font-size: 70px
				line-height: 84px
