.i
	display: inline-block
	width: 32px
	height: 32px
	background: no-repeat center center
	background-size: contain
	&-social
		width: 33px
		height: 33px
		background-color: $white
		border-radius: 100%
		background-size: 32px
	&-reverse
		background-color: $primary
		&.i
			&-fb
				background-image: url(../images/icon-fb-r.svg)
				&:hover
					background-image: url(../images/icon-fb-r.svg)
			&-in
				background-image: url(../images/icon-in-r.svg)
				&:hover
					background-image: url(../images/icon-in-r.svg)
			&-tw
				background-image: url(../images/icon-tw.svg)
			&-ml
				background-image: url(../images/icon-ml.svg)
	&-sm
		width: 16px
		height: 16px
	&-lg
		width: 48px
		height: 48px
	&-right-arrow
		background-image: url(../images/icon-right-arrow.svg)
	&-right-arrow-o
		background-image: url(../images/icon-right-arrow-o.svg)
	&-fb
		background-image: url(../images/icon-fb.svg)
		&:hover
			background-image: url(../images/icon-fb-hover.svg)
	&-youtube
		background-image: url(../images/icon-youtube.svg)
		&:hover
			background-image: url(../images/icon-youtube-hover.svg)
	&-inst
		background-image: url(../images/icon-inst.svg)
		&:hover
			background-image: url(../images/icon-inst-hover.svg)
	&-in
		background-image: url(../images/icon-in.svg)
		&:hover
			background-image: url(../images/icon-in-hover.svg)

	&-menu-hamburger
		background-image: url(../images/icon-menu-hamburger.svg)
	&-menu-hamburger-fixed
		background-image: url(../images/icon-menu-hamburger-fixed.svg)
	&-menu-close
		background-image: url(../images/icon-menu-close.svg)

	&-dollar
		background-image: url(../images/icon-dollar.svg)
	&-boho
		background-image: url(../images/icon-boho.svg)
	&-rattan-wood
		background-image: url(../images/icon-rattan-wood.svg)
	&-demographic
		background-image: url(../images/icon-demographic.svg)
	&-sex-woman
		background-image: url(../images/icon-sex-woman.svg)
	&-style
		background-image: url(../images/icon-style.svg)
	&-materials
		background-image: url(../images/icon-materials.svg)
	&-budget
		background-image: url(../images/icon-budget.svg)
	&-retro
		background-image: url(../images/icon-retro.svg)
	&-plush-velvet
		background-image: url(../images/icon-plush-velvet.svg)
	&-minimal
		background-image: url(../images/icon-minimal.svg)
	&-organic-cotton
		background-image: url(../images/icon-organic-cotton.svg)
	&-industrial
		background-image: url(../images/icon-industrial.svg)
	&-steel-stone-marble
		background-image: url(../images/icon-steel-stone-marble.svg)
	&-time
		background-image: url(../images/icon-time.svg)
	&-map-point
		background-image: url(../images/icon-map-point.svg)
	&-pan
		background-image: url(../images/icon-pan.svg)
	&-double-arrow-right
		background-image: url(../images/icon-double-arrow-right.svg)


@media (min-width: 768px)
	.i
		&-social
			width: 39px
			height: 39px
			border-radius: 100%
		&-lg
			width: 42px
			height: 42px
