.modal
	.form-control
		height: 35px
		font-size: 18px
		padding: 10px 15px
	&-content
		border-width: 1px
		.close
			font-family: 'moderat-light'
			font-size: 2rem
			opacity: 1 !important
	&-body
		padding: 10px
	&-header
		padding-right: 15px
		padding-top: 10px
	.case-studies
		&-item-modal
			background: url(../images/case-studies-item-bg.jpg) no-repeat top center
			background-size: cover
			font-family: 'moderat-light'
			font-weight: normal
			font-size: 18px
			line-height: 28px
	.h1
		font-family: 'moderat-bold'
		font-weight: normal
		font-size: 20px
		line-height: 30px
		margin-bottom: 30px
	.h3
		font-family: 'moderat-regular'
		font-weight: normal
		font-size: 18px
		line-height: 30px
	.small
		font-family: 'moderat-light'
		font-weight: normal
		font-size: 12px
		line-height: 20px

		&-got-it
			&-modal
				background: url(../images/case-studies-item-bg.jpg) no-repeat top center
				background-size: cover
				color: $white
				font-family: 'moderat-light'
				font-weight: normal
				font-size: 18px
				line-height: 28px
				.h1
					font-family: 'moderat-bold'
					font-weight: normal
					font-size: 40px
					line-height: 55px
					margin-bottom: 16px
	.job-application-modal
		font-family: 'moderat-light'
		font-weight: normal
		font-size: 15px
		line-height: 22px
		.h1
			font-family: 'moderat-bold'
			font-weight: normal
			font-size: 24px
			line-height: 42px
	.comfortaa
		&.h1
			font-family: 'comfortaa'
			font-weight: 700
			font-size: 25px
			line-height: 37px

@media (min-width: 768px)
	.modal
		.form-control
			height: 55px
			padding: 16px 24px
		&-content
			border-width: 3px
		.case-studies
			&-item-modal
				font-size: 24px
				line-height: 32px
		.h1
			font-size: 52px
			line-height: 62px
			margin-bottom: 30px
			&-got-it
				&-modal
					font-size: 20px
					line-height: 32px
					.h1
						font-size: 70px
						line-height: 84px
						margin-bottom: 16px

@media (min-width: 992px)
	.modal
		&-content
			padding: 55px
			.close
				font-size: 3rem
		.case-studies
			&-item-modal
				font-size: 24px
				line-height: 32px
		.h1
			font-size: 52px
			line-height: 62px
			margin-bottom: 30px
		.h3
			font-size: 24px
			line-height: 36px
			margin-bottom: 32px
		.small
			font-size: 14px
			line-height: 17px
		.job-application-modal
			font-size: 24px
			line-height: 40px
			.h1
				font-size: 56px
				line-height: 78px
		.comfortaa
			&.h1
				font-size: 50px
				line-height: 75px

@media (min-width: 1400px)
	.modal
		&-brackets
			position: relative
			&:before
				content: ""
				display: block
				background: url(../images/got-it-left-top.svg) no-repeat 0 0
				width: 75px
				height: 61px
				position: absolute
				top: -30px
				left: 0
			&:after
				content: ""
				display: block
				background: url(../images/brackets-right-bottom.svg) no-repeat 0 0
				width: 75px
				height: 61px
				position: absolute
				bottom: -15px
				right: 0
