.dark-blue
	&-section
		color: $white
		font-family: 'moderat-light'
		font-weight: normal
		font-size: 18px
		line-height: 28px
		&:before
			content: ""
			display: block
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			background-color: rgba(13,13,48,0.8)
			z-index: 1
		&:after
			content: ""
			display: block
			position: relative
			z-index: 1
			margin-top: -98px
			width: 100%
			height: 98px
			background: url(../images/mold-ligth-blue-test-top.svg) no-repeat bottom center
			background-size: cover
		.h1
			font-family: 'comfortaa'
			font-weight: 700
			font-size: 27px
			line-height: 40px
	&-container
		padding-top: 98px
		padding-bottom: 96px
	&-content
		position: relative
		z-index: 2
.dark-blue-bg-img
	display: block
	position: absolute
	top: 0
	z-index: 0
	left: 0
	right: 0
	bottom: 0
	background: no-repeat top center
	background-size: cover

@media (min-width: 768px)
	.dark-blue
		&-container
			padding-top: 206px
			padding-bottom: 366px
		&-section
			font-size: 32px
			line-height: 48px
			&:after
				height: 443px
				margin-top: -443px
			.h1
				font-size: 50px
				line-height: 75px
