mixin CareersHeader()
	section.careers-header-section
		.container.h-100
			.row.h-100
				.col-12.col-xxl-8.offset-xxl-2.h-100
					.row.align-items-center.h-100
						.col-12.col-md-7.mb-10
							h1.h1 Careers
							p renovai is the fastest growing commerce experience platform in the world. We’re expanding at an amazing rate and looking for exceptional people to join our journey.
							a.btn.btn-primary.shadow.mt-3.d-md-none(href="#") Join the family
							a.btn.btn-lg.btn-primary.shadow.mt-3.d-none.d-md-inline-block(href="#") Join the family
